
[ req  ]
distinguished_name = dn
default_md = sha256
prompt = no
req_extensions = v3_ext

[ dn ]
C = IL
ST = North
L = Karmiel
O = system:nodes
OU = CA
CN = system:node:<node>

[ v3_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS = <hostname>
IP = <ip>
