
[ req  ]
distinguished_name = dn
default_md = sha256
prompt = no
req_extensions = v3_ext

[ dn ]
C = IL
ST = North
L = Karmiel
O = kubernetes
OU = CA
CN = kube-apiserver

[ v3_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = kubernetes.default
DNS.2 = kubernetes.default.svc
DNS.3 = kubernetes.default.svc.cluster.local
IP.1 = 10.96.0.1
IP.2 = <ip>
